@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Montserrat', sans-serif; /* Ajoutez 'sans-serif' comme police de secours */
}

a {
    text-decoration: underline;
}

.cover-login {
    background-image: url('../public//img/cover-login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-home {
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1) 90%), url('/public/img/bg-home-2400.jpg') center center / cover no-repeat;
    background-attachment: fixed;
}

input::placeholder {
    font-weight: normal;
}
