@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Montserrat', sans-serif; /* Ajoutez 'sans-serif' comme police de secours */
}

a {
    text-decoration: underline;
}

.cover-login {
    background-image: url('../public//img/cover-login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-home {
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1) 90%), url('/public/img/bg-home-2400.jpg') center center / cover no-repeat;
    background-attachment: fixed;
}

input::placeholder {
    font-weight: normal;
}

/* Calendrier */

.rdp-focused {
    font-weight: bold;
}

.rdp-month_caption {
    padding-left: 5px;
    text-transform: capitalize;
}

.rdp-day_button {
    border-radius: 10px;
}

.rdp-root {
    position: relative;
    }

.rdp-nav {
    position: absolute;
    right: 18px;
}

.bg-primary {
  background-color: #3b82f6; /* Example primary color */
}

.text-primary-foreground {
  color: #ffffff; /* Example text color */
  font-weight: bold;
}

.bg-accent {
  background-color: #e5e7eb; /* Example accent color */
}

.text-accent-foreground {
  color: #374151; /* Example accent text color */
  font-weight: bold;
}

.opacity-50 {
  opacity: 0.5;
}

/* Add any missing styles */

